extends layout

block content
	h1 #{title}
	
	
	div(id="text") Hi
	div(id="barchart")
	
	script
		var chart = c3.generate({
			bindto: '#barchart',
			data: {
			columns: [
					[ '#{topSchools[0].INSTNM}', '#{topSchools[0].Total}' ],
					[ '#{topSchools[1].INSTNM}', '#{topSchools[1].Total}' ],
					[ '#{topSchools[2].INSTNM}', '#{topSchools[2].Total}' ],
					[ '#{topSchools[3].INSTNM}', '#{topSchools[3].Total}' ],
					[ '#{topSchools[4].INSTNM}', '#{topSchools[4].Total}' ]				
			],

			type: 'bar'
			},
			
			bar: {
				width: 100
			},
			
			legend: {
				item: {
					onclick: function (id) { 
						window.location.href= "/chart/" + id;
					},
					onmouseover: function (id) { chart.transform('pie', id) },
					onmouseout: function (id) { chart.transform('bar', id) }
				}
			},
			
			tooltip: {
				show: false
			}
		});