extends layout

block content
	h1 #{title}
	
	div(id="barchart")

	script
		var chart = c3.generate({
			bindto: '#barchart',
			data: {
			columns: [
					[ '#{topSchools[0].INSTNM}', '#{topSchools[0].Total}' ]
							
			],
			type: 'bar'
			
			},
			
			bar: {
				width: 100
			}
		});
		
		setTimeout(function () {
			chart.load({
			columns: [
				[ '#{topSchools[1].INSTNM}', '#{topSchools[1].Total}' ]
			]
			});
		}, 1000);
		
		setTimeout(function () {
			chart.load({
			columns: [
				[ '#{topSchools[2].INSTNM}', '#{topSchools[2].Total}' ]
			]
			});
		}, 1000);
		
		setTimeout(function () {
			chart.load({
			columns: [
				[ '#{topSchools[3].INSTNM}', '#{topSchools[3].Total}' ]
			]
			});
		}, 1000);
		
		setTimeout(function () {
			chart.load({
			columns: [
				[ '#{topSchools[4].INSTNM}', '#{topSchools[4].Total}' ]
			]
			});
		}, 1000);